<table>
  <thead>
    <tr>
      <th>Show Name</th>
      <th>Channel</th>
      <th>Timing</th>
      <th>Favorite</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr colspan='3'>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.tv_channel.name %></td>
        <td><%= tv_show.timing %></td>
        <td><%= User.first.favorite_show(tv_show.id) ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Favorite', tv_channel_favroite_path(tv_channel_id: tv_show.tv_channel.id, show_id: tv_show.id), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
